html {
    height: 100%;
}

body {
    background-image: url('../images/bg-default.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
}


/*mask 透明度 0.5 */

.mask {
    box-sizing: border-box;
    background: rgba(0, 0, 0, .5);
    background-size: cover;
    /*z-index: -999;*/
    /*讓背景能放在底部 ref http://www.astralweb.com.tw/full-screen-backround-image/*/
    width: 100%;
    min-height: 100%;
    /*置中對齊*/
    display: flex;
    justify-content: center;
}

.out_space {
    box-sizing: border-box;
    height: 100%;
    width: 1000px;
    padding: 10px;
    opacity: 1.0;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.live_cell {
    box-sizing: border-box;
    padding: 0;
    width: 300px;
    margin: 10px;
}

.live_cell img {
    width: inherit;
    padding: 0;
    margin: 0;
    /*處理 img 跟block間會有空白的問題*/
    display: block;
}

.player_part {
    box-sizing: border-box;
    width: inherit;
    display: flex;
    flex-direction: row;
    height: 60px;
    padding: 0;
    background: green;
}

.player_logo {
    box-sizing: border-box;
    margin: 5px 5px 5px 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    /*background-image: url('../images/player-default.png');*/
}

.player_logo img {
    height: inherit;
    width: inherit;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

.player_text {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 250px;
}

.player_text span {
    box-sizing: border-box;
    font-size: 1em;
    margin-left: 10px;
    color: white;
    padding-top: 7px;
    /*讓文字超出範圍顯示 ....*/
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 200px;
}